
body {
    background-color: white !important;
    color: black;
    overflow-x: hidden;
    width: 100vw;
    font-family: sans-serif;
    padding: 25px 0;
}

#shopping-cart-page {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#shopping-cart-page > div {
    width: 20%;
}

.shopping-cart-item-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 3px;
    margin: 5px 0;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.shopping-cart-item-div > img {
    height: 60px;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
    z-index: 2;
    aspect-ratio: 3/4;
}

.shopping-cart-item-div > div {
    margin: 0 20px;
    z-index: 2;
}

.shopping-cart-item-div > img.bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    object-fit: cover;
    -webkit-filter: blur(1px) brightness(0.7);
    filter: blur(3px) brightness(0.7);
    z-index: 1;
    margin: -5px;
}

p.product-name {
    color: white !important;
    font-weight: normal !important;
}

p.product-name, p.product-price {
    margin: 0;
    color: rgb(231, 231, 231);
    font-weight: lighter;
}

button.large {
    width: 100%;
    padding: 15px 0;
    background-color: #7caaff;
    color: white;
    border: none;
    border-radius: 3px;
}

/* Ladespinner (Fremder Code) */

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #8d8d8d;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
    padding: 10px 60px;
    position: static;
    top: 0;
}
