
table.products {
    width: 100%;
}

table.products > tbody > tr > td > div {
    display: flex;
    align-items: end;
    flex-direction: column;
}

table.products > tbody > tr > td > div > p {
    margin: 5px 0;
}

table.products > tbody > tr > td > img {
    height: 38px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 3px;
}

table.products > tbody > tr > td > div > div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 12px;
    color: gray;
}

span.marked {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: greenyellow;
    font-size: 12px;
}

span.bold {
    font-weight: 700;
}

.stock_amount_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock_amount_wrapper > input {
    width: 120px;
    height: 35px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #000000;
}

input, select {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 14px;
    background-color: white;
}

input[type="color"] {
    width: 100%;
    background-color: #635BFFFF;
}

.variant-box {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    width: 300px;
    /*-webkit-box-shadow: 0px 6px 65px -34px rgba(0,0,0,0.28);*/
    /*-moz-box-shadow: 0px 6px 65px -34px rgba(0,0,0,0.28);*/
    /*box-shadow: 0px 6px 65px -34px rgba(0,0,0,0.28);*/
    border: 1px solid rgba(154, 154, 154, 0.48);
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.info {
    font-size: 10px;
    color: gray;
}

.variant-box > .delete {
    color: #ff5a5a;
    text-decoration: none;
    margin-top: 10px;
}

.add {
    color: #635BFFFF;
    text-decoration: none;
}